# *Project Milestone - 1_Lee Ryan Edward Borlat*

**Question 1:**

Given Price=300, use python to figure out the square root of the price

In [1]:
#instantiate
price = 300

#kunin using formula
print (price**.5)

17.320508075688775

**Question 2:**

Given the String:     Stock_index="SP500", Grab 500 from the string using indexing and also show its indices

In [2]:
#instantiate
Stock_index = "SP500"

#kunin using indexing
print("Grabbed string = ",Stock_index[2:])

Grabbed string =  500

**Question 3:**

Given the variables:     stock_index="SP500" and     price=300, Use .format() to print the following string:

In [3]:
#instantiate
stock_index= "SP500"
price = 300

#print using .format()
print("The {} is at {} today".format(stock_index,price))

The SP500 is at 300 today

**Question 4:**

Create stock_info dictionary as follows

                   stock_info={‘reliance’: {‘today’:300,’yesterday’:250}, 
                                         ‘info’:[‘Time’,[24,7,365]]}

 Use indexing and key calls to print the ones as shown below

 Expected  Output 1:  Yesterday’s reliance share  price was 250 pesos per share
 
 Expected  Output 2:   The number 365 is nested inside a list nested inside the ‘info’ key

In [4]:
#instantiate dictionary
stock_info = {'reliance': {'today':300,'yesterday':250},'info':['Time',[24,7,365]]}

print("Yesterday’s reliance share price was {} pesos per share".format(stock_info['reliance']['yesterday']))
print("The number {} is nested inside a list nested inside the 'info' key".format(stock_info['info'][1][2]))

Yesterday’s reliance share price was 250 pesos per share
The number 365 is nested inside a list nested inside the 'info' key

**Question 5:**

Create a function called price-finder that returns True if the word ‘price’ is in the string:

Your definition must accept different types of inputs as shown below:

Input 1= “PRICE of 1 litre petrol is 45 pesos”

Input 2= “(PRICE) of 1 litre petrol is 45 pesos”

Input 3= “PrIcE of 1 litre petrol is 45 pesos”

Input 4= “1 litre petrol price is 45 pesos”

Input 5 = “ cost of 1 litre is 54 pesos"

In [5]:
#create the function muna to search the word
def find_price(text):
    #create conditional statement na nilolower-case na yung sentence then find "price"
        if "price".lower() in text.lower():
            return True
        else:
            return False

In [6]:
find_price("PRICE of 1 litre petrol is 45 pesos")

True

In [7]:
find_price("(PRICE) of 1 litre petrol is 45 pesos")

True

In [8]:
find_price("PrIcE of 1 litre petrol is 45 pesos")

True

In [9]:
find_price("1 litre petrol price is 45 pesos")

True

In [10]:
find_price("cost of 1 litre is 54 pesos")

False

**Question 6:**

Write a function check_password that returns True if the input password satisfies the following criteria:

•	at least 8 characters in length

•	contains at least one lowercase letter

•	contains at least one uppercase letter

•	contains at least one number

•	contains “#” symbol

It should return False if at least one of the criteria is not satisfied.

Use the following inputs to show the results:

Input1 = “Bayan1#34”

Input2 = “academy@”

Input3 = ”Madam1#”

In [11]:
def check_password(password):
    if (len(password) >= 8
        and "#" in password
        and any(password.lower() for x in password)
        and any(password.upper() for x in password)
        and any(str.isnumeric(x) for x in password)):
        
        return True
    else:
        return False

In [12]:
check_password("Bayan1#34")

True

In [13]:
check_password("academy@")

False

In [14]:
check_password("Madam1#")

False

**Question 7:**

Part 1: Convert Email to Full Name

Create the function email-to-full-name(email) which accepts email as a string input parameter and returns a string containing the first and last name separated by a comma. All characters in the string should be uppercase

In [15]:
def email_name(email):
    name = email.split('@')[0]
    full_name = name.split('.')
    full_name.reverse()
    return ",".join(full_name).upper()

In [16]:
email_name("cruz.acer@mymail.bayan.edu")

'ACER,CRUZ'

In [17]:
email_name("Kendrick.jason@mymail.bayan.edu")

'JASON,KENDRICK'

Part 2: Calculate Average Grade

For the second part of this question, develop the function score-average(s) which accepts s as a string input parameter and returns the average of the four scores within the string as a float.

In [18]:
# import numpy to convert string to array and to average
import numpy as np

#create function that converts string to array to float
def average_grade(s):
    # split the string of numbers into a list
    splitted = s.split(',')
    # initialize numpy array using np.array()
    initial_array = np.array(splitted)
    # convert using .astyp(float)
    final_array = initial_array.astype(float)
    # find the mean and put it in a variable 
    average = np.mean(final_array)
    # return
    return(average)

In [19]:
average_grade("0,50.4,80.3,95.9")

56.65

In [20]:
average_grade("99.9,91.3,99.2,98.0")

97.1

In [21]:
def final_output(a,b):
    print("{},{}".format(a,b))

In [22]:
final_output(email_name("cruz.acer@mymail.bayan.edu"),average_grade("0,50.4,80.3,95.9"))

ACER,CRUZ,56.65

In [23]:
final_output(email_name("Kendrick.jason@mymail.bayan.edu"),average_grade("99.9,91.3,99.2,98.0"))

JASON,KENDRICK,97.1

**Question 8:**

Write a function “prime-factorize”  that will print the prime factors of an integer 0<𝑛<500<n<50. It should print the message, Out of range! if the input number is out of the given range. Include 1 in the prime factorization.

In [52]:
def prime_factorize(num):
    print("The factors of",num,"are:")
    factor = []
    for i in range(1, num + 1):
        if num % i == 0:
            factor.append(i)
    if 50 in factor: return 'Out of range!'
    
    return factor

In [53]:
prime_factorize(17)

The factors of 17 are:

[1, 17]